

create FUNCTION [dbo].[GetMonthName](@month int)
RETURNS varchar(15)
AS
BEGIN
    declare @result varchar(15)
	
	IF(@month=1)
	BEGIN
		set @result='January'
	END
	ELSE IF(@month=2)
	BEGIN
		set @result='February'
	END
	ELSE IF(@month=3)
	BEGIN
		set @result='March'
	END
	ELSE IF(@month=4)
	BEGIN
		set @result='April'
	END
	ELSE IF(@month=5)
	BEGIN
		set @result='May'
	END
	ELSE IF(@month=6)
	BEGIN
		set @result='June'
	END
	ELSE IF(@month=7)
	BEGIN
		set @result='July'
	END
	ELSE IF(@month=8)
	BEGIN
		set @result='August'
	END
	ELSE IF(@month=9)
	BEGIN
		set @result='September'
	END
	ELSE IF(@month=10)
	BEGIN
		set @result='October'
	END
	ELSE IF(@month=11)
	BEGIN
		set @result='November'
	END
	ELSE IF(@month=12)
	BEGIN
		set @result='December'
	END
	
	return @result
END


GO


GO
/****** Object:  Table [dbo].[crm_bireyler]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crm_bireyler](
	[birey_id] [uniqueidentifier] NOT NULL,
	[calistigi_kurum_id] [uniqueidentifier] NOT NULL,
	[ad] [nvarchar](50) NULL,
	[soyad] [nvarchar](50) NULL,
	[turu_id] [int] NULL,
	[eposta_adresi] [nvarchar](100) NULL,
	[mobile_phone] [nvarchar](50) NULL,
	[telefonu_1] [nvarchar](50) NULL,
	[telefonu_2] [nvarchar](50) NULL,
	[faksi_1] [nvarchar](50) NULL,
	[faksi_2] [nvarchar](50) NULL,
	[adres] [nvarchar](2000) NULL,
	[web_sitesi] [nvarchar](50) NULL,
	[note] [nvarchar](4000) NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_crm_bireyler] PRIMARY KEY CLUSTERED 
(
	[birey_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[crm_kurumlar]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crm_kurumlar](
	[kurum_id] [uniqueidentifier] NOT NULL,
	[kodu] [nvarchar](500) NULL,
	[turu_id] [int] NULL,
	[ticari_unvani] [nvarchar](1000) NULL,
	[vergi_no] [nvarchar](50) NULL,
	[vergi_dairesi] [nvarchar](100) NULL,
	[kurulus_yili] [int] NULL,
	[calisan_sayisi] [int] NULL,
	[eposta_adresi] [nvarchar](100) NULL,
	[telefonu_1] [nvarchar](50) NULL,
	[telefonu_2] [nvarchar](50) NULL,
	[faksi_1] [nvarchar](50) NULL,
	[faksi_2] [nvarchar](50) NULL,
	[adres] [nvarchar](2000) NULL,
	[web_sitesi] [nvarchar](50) NULL,
	[note] [nvarchar](4000) NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
	[mobile_phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_crm_kurumlar] PRIMARY KEY CLUSTERED 
(
	[kurum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[crm_bireyler_kurumlar_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[crm_bireyler_kurumlar_v]
AS
select top 100000 id,name,is_active from ( 
SELECT     birey_id as id, ad+' '+soyad as name,is_active FROM         dbo.crm_bireyler
WHERE     ((is_deleted IS NULL) OR
                      (is_deleted = 0)) 
                      union
                      
SELECT     kurum_id as id, kodu as name,is_active FROM         dbo.crm_kurumlar
WHERE     ((is_deleted IS NULL) OR
                      (is_deleted = 0)) 
) as table1 order by name


GO
/****** Object:  View [dbo].[crm_bireyler_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[crm_bireyler_v]
AS
SELECT     dbo.crm_bireyler.birey_id, dbo.crm_bireyler.ad, dbo.crm_bireyler.soyad, dbo.crm_bireyler.eposta_adresi, dbo.crm_bireyler.mobile_phone, dbo.crm_kurumlar.ticari_unvani AS calistigi_kurum, 
                      CASE WHEN dbo.crm_bireyler.is_active = 1 THEN 'Active' ELSE 'Passive' END AS is_active
FROM         dbo.crm_bireyler LEFT OUTER JOIN
                      dbo.crm_kurumlar ON dbo.crm_bireyler.calistigi_kurum_id = dbo.crm_kurumlar.kurum_id
WHERE     (dbo.crm_bireyler.is_deleted IS NULL) OR
                      (dbo.crm_bireyler.is_deleted = 0)



GO
/****** Object:  View [dbo].[crm_kurumlar_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[crm_kurumlar_v]
AS
SELECT     kurum_id, kodu AS kurum_kodu, ticari_unvani, vergi_no, telefonu_1, faksi_1, CASE WHEN dbo.crm_kurumlar.is_active = 1 THEN 'Active' ELSE 'Passive' END AS is_active, web_sitesi
FROM         dbo.crm_kurumlar
WHERE     (dbo.crm_kurumlar.is_deleted IS NULL) OR
                      (dbo.crm_kurumlar.is_deleted = 0)




GO
/****** Object:  Table [dbo].[crm_projects]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crm_projects](
	[project_id] [uniqueidentifier] NOT NULL,
	[kurum_id] [uniqueidentifier] NOT NULL,
	[birey_id] [uniqueidentifier] NOT NULL,
	[project_type_id] [int] NOT NULL,
	[project_assigned_user_id] [uniqueidentifier] NULL,
	[project_name] [nvarchar](2000) NOT NULL,
	[project_description] [nvarchar](4000) NOT NULL,
	[note] [nvarchar](4000) NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
	[statik] [uniqueidentifier] NULL,
	[elektrik] [uniqueidentifier] NULL,
	[mekanik] [uniqueidentifier] NULL,
	[harita] [uniqueidentifier] NULL,
	[yapı_denetimi] [uniqueidentifier] NULL,
	[isveren_mobile_phone] [nvarchar](50) NULL,
	[metre_kare] [decimal](18, 2) NULL,
 CONSTRAINT [PK_crm_projects] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ref_crm_project_types]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_crm_project_types](
	[project_type_id] [int] NOT NULL,
	[project_type_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ref_crm_project_types] PRIMARY KEY CLUSTERED 
(
	[project_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[crm_projects_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[crm_projects_v]
AS
SELECT     dbo.crm_projects.project_id, dbo.ref_crm_project_types.project_type_name, dbo.crm_projects.project_name, CASE WHEN dbo.crm_projects.is_active = 1 THEN 'Active' ELSE 'Passive' END AS is_active, 
                      CASE WHEN dbo.crm_projects.project_type_id = 2 THEN
                          (SELECT     ticari_unvani
                            FROM          crm_kurumlar
                            WHERE      kurum_id = dbo.crm_projects.kurum_id) ELSE
                          (SELECT     ad + ' ' + soyad
                            FROM          crm_bireyler
                            WHERE      birey_id = dbo.crm_projects.birey_id) END AS project_owner, dbo.crm_projects.metre_kare, dbo.crm_projects.isveren_mobile_phone
FROM         dbo.crm_projects LEFT OUTER JOIN
                      dbo.ref_crm_project_types ON dbo.crm_projects.project_type_id = dbo.ref_crm_project_types.project_type_id
WHERE     (dbo.crm_projects.is_deleted IS NULL) OR
                      (dbo.crm_projects.is_deleted = 0)



GO
/****** Object:  Table [dbo].[gnl_logged_in_users]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_logged_in_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NULL,
	[user_uid] [uniqueidentifier] NULL,
	[user_name] [varchar](50) NULL,
	[user_name_surname] [varchar](50) NULL,
	[date] [datetime] NULL,
	[session_id] [varchar](50) NULL,
	[host_name] [varchar](50) NULL,
	[user_host_adres] [varchar](50) NULL,
	[browser] [varchar](50) NULL,
	[platform] [varchar](50) NULL,
	[version] [varchar](50) NULL,
 CONSTRAINT [PK_BaserLoggedInUsers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gnl_users]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_users](
	[user_id] [uniqueidentifier] NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[second_name] [nvarchar](50) NULL,
	[surname] [nvarchar](50) NULL,
	[second_surname] [nvarchar](50) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[email] [nvarchar](100) NULL,
	[identity_number] [nvarchar](50) NULL,
	[mobile_phone] [nvarchar](50) NULL,
	[home_phone] [nvarchar](50) NULL,
	[adress] [nvarchar](2000) NULL,
	[birth_date] [datetime] NULL,
	[photo] [image] NULL,
	[cropped_photo] [image] NULL,
	[note] [nvarchar](4000) NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
	[group_id] [uniqueidentifier] NULL,
	[manager_id] [uniqueidentifier] NULL,
	[is_administrator] [bit] NULL,
 CONSTRAINT [PK_gnl_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[gnl_logged_in_users_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[gnl_logged_in_users_v]
AS
SELECT Top 100000    dbo.gnl_logged_in_users.id, dbo.gnl_logged_in_users.type, dbo.gnl_users.name + ' ' + dbo.gnl_users.surname AS name_surname,   
              
                                    dateadd(hour,3,dbo.gnl_logged_in_users.date) as date, 
                            
                      dbo.gnl_logged_in_users.session_id, dbo.gnl_logged_in_users.host_name, dbo.gnl_logged_in_users.user_host_adres, dbo.gnl_logged_in_users.browser, dbo.gnl_logged_in_users.platform, 
                      dbo.gnl_logged_in_users.version
FROM         dbo.gnl_logged_in_users INNER JOIN
                      dbo.gnl_users ON dbo.gnl_logged_in_users.user_uid = dbo.gnl_users.user_id

order by date desc


GO
/****** Object:  Table [dbo].[gnl_roles]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[role_name] [nvarchar](50) NULL,
	[role_explanation] [nvarchar](200) NULL,
	[is_active] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_gnl_roles] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gnl_roles_related_users]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_roles_related_users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_gnl_roles_related_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[gnl_role_related_users_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[gnl_role_related_users_v]
AS
SELECT     dbo.gnl_roles.role_id, dbo.gnl_users.user_id, dbo.gnl_roles.role_name, dbo.gnl_users.name, dbo.gnl_users.surname, dbo.gnl_users.email, dbo.gnl_roles_related_users.id
FROM         dbo.gnl_roles INNER JOIN
                      dbo.gnl_roles_related_users ON dbo.gnl_roles.role_id = dbo.gnl_roles_related_users.role_id INNER JOIN
                      dbo.gnl_users ON dbo.gnl_roles_related_users.user_id = dbo.gnl_users.user_id


GO
/****** Object:  View [dbo].[gnl_roles_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[gnl_roles_v]
AS
SELECT     role_id, role_name, role_explanation, CASE WHEN is_active = 1 THEN 'Aktif' ELSE 'Pasif' END AS is_active
FROM         dbo.gnl_roles
where (is_deleted is null or is_deleted=0)



GO
/****** Object:  Table [dbo].[gnl_user_groups]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_user_groups](
	[group_id] [uniqueidentifier] NOT NULL,
	[group_name] [nvarchar](50) NULL,
	[group_explanation] [nvarchar](200) NULL,
	[manager_id] [uniqueidentifier] NULL,
	[is_active] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_gnl_groups] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[gnl_user_groups_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[gnl_user_groups_v]
AS
SELECT     dbo.gnl_user_groups.group_id, dbo.gnl_user_groups.group_name, dbo.gnl_user_groups.group_explanation, dbo.gnl_users.name + ' ' + dbo.gnl_users.surname AS group_manager_name_surname,
                       CASE WHEN dbo.gnl_user_groups.is_active = 1 THEN 'Aktif' ELSE 'Pasif' END AS is_active
FROM         dbo.gnl_user_groups LEFT OUTER JOIN
                      dbo.gnl_users ON dbo.gnl_user_groups.manager_id = dbo.gnl_users.user_id
WHERE     (dbo.gnl_user_groups.is_deleted IS NULL) OR
                      (dbo.gnl_user_groups.is_deleted = 0)


GO
/****** Object:  View [dbo].[gnl_users_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[gnl_users_v]
AS
SELECT     TOP (100) PERCENT dbo.gnl_users.user_id, dbo.gnl_users.user_name, dbo.gnl_users.name, dbo.gnl_users.second_name, dbo.gnl_users.surname, dbo.gnl_users.second_surname, 
                      dbo.gnl_users.start_date, dbo.gnl_users.end_date, dbo.gnl_users.email, dbo.gnl_users.identity_number, dbo.gnl_users.mobile_phone, dbo.gnl_users.home_phone, dbo.gnl_users.adress, 
                      dbo.gnl_users.birth_date, dbo.gnl_users.note, CASE WHEN dbo.gnl_users.is_active = 1 THEN 'Aktif' ELSE 'Pasif' END AS is_active, dbo.gnl_user_groups.group_name AS related_group, 
                      gnl_users_1.name + ' ' + gnl_users_1.surname AS manager_name
FROM         dbo.gnl_users LEFT OUTER JOIN
                      dbo.gnl_user_groups ON dbo.gnl_users.group_id = dbo.gnl_user_groups.group_id LEFT OUTER JOIN
                      dbo.gnl_users AS gnl_users_1 ON dbo.gnl_users.manager_id = gnl_users_1.user_id
WHERE     (dbo.gnl_users.is_deleted IS NULL) OR
                      (dbo.gnl_users.is_deleted = 0)
ORDER BY dbo.gnl_users.name


GO
/****** Object:  Table [dbo].[ref_tsk_task_status]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_tsk_task_status](
	[task_status_id] [int] NOT NULL,
	[task_status_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ref_crm_task_status] PRIMARY KEY CLUSTERED 
(
	[task_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tsk_tasks]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tsk_tasks](
	[task_id] [uniqueidentifier] NOT NULL,
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[related_project_id] [uniqueidentifier] NOT NULL,
	[task_user_id] [uniqueidentifier] NOT NULL,
	[assigned_user_id] [uniqueidentifier] NOT NULL,
	[task_type_id] [int] NULL,
	[task_status_id] [int] NOT NULL,
	[task_priority_id] [int] NOT NULL,
	[task_name] [nvarchar](2000) NOT NULL,
	[task_description] [nvarchar](4000) NOT NULL,
	[explanations] [text] NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[is_task_sent] [bit] NULL,
	[is_active] [bit] NULL,
	[is_deleted] [bit] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
	[task_completed_date] [datetime] NULL,
	[task_completed_by] [uniqueidentifier] NULL,
 CONSTRAINT [PK_crm_tasks] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[tsk_all_task_by_month_chart_ontime_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[tsk_all_task_by_month_chart_ontime_v]
AS

SELECT   CAST(YEAR(dbo.tsk_tasks.task_completed_date) as varchar(4)) +'-' + CAST(  Month( dbo.tsk_tasks.task_completed_date) as varchar(2)) as month_str, COUNT(*) AS statu_count
FROM         dbo.ref_tsk_task_status RIGHT OUTER JOIN
                      dbo.tsk_tasks ON dbo.ref_tsk_task_status.task_status_id = dbo.tsk_tasks.task_status_id
WHERE     (dbo.tsk_tasks.is_active = 1)
and ((dbo.tsk_tasks.is_deleted IS NULL) OR
                      (dbo.tsk_tasks.is_deleted = 0))
and dbo.tsk_tasks.task_status_id=6 
AND dbo.tsk_tasks.end_date>=dbo.tsk_tasks.task_completed_date                     
GROUP BY CAST(YEAR(dbo.tsk_tasks.task_completed_date) as varchar(4)) +'-' + CAST(  Month( dbo.tsk_tasks.task_completed_date) as varchar(2))


GO
/****** Object:  View [dbo].[tsk_all_task_by_month_chart_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tsk_all_task_by_month_chart_v]
AS

SELECT   CAST(YEAR(dbo.tsk_tasks.task_completed_date) as varchar(4)) +'-' + CAST(  Month( dbo.tsk_tasks.task_completed_date) as varchar(2)) as month_str, COUNT(*) AS statu_count
FROM         dbo.ref_tsk_task_status RIGHT OUTER JOIN
                      dbo.tsk_tasks ON dbo.ref_tsk_task_status.task_status_id = dbo.tsk_tasks.task_status_id
WHERE     (dbo.tsk_tasks.is_active = 1)
and ((dbo.tsk_tasks.is_deleted IS NULL) OR
                      (dbo.tsk_tasks.is_deleted = 0))
and dbo.tsk_tasks.task_status_id=6                      
GROUP BY CAST(YEAR(dbo.tsk_tasks.task_completed_date) as varchar(4)) +'-' + CAST(  Month( dbo.tsk_tasks.task_completed_date) as varchar(2))







GO
/****** Object:  View [dbo].[tsk_all_task_chart_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[tsk_all_task_chart_v]
AS

SELECT     dbo.ref_tsk_task_status.task_status_name, COUNT(*) AS statu_count
FROM         dbo.ref_tsk_task_status RIGHT OUTER JOIN
                      dbo.tsk_tasks ON dbo.ref_tsk_task_status.task_status_id = dbo.tsk_tasks.task_status_id
WHERE     (dbo.tsk_tasks.is_active = 1)
and (dbo.tsk_tasks.is_deleted IS NULL) OR
                      (dbo.tsk_tasks.is_deleted = 0)

GROUP BY dbo.ref_tsk_task_status.task_status_name

GO
/****** Object:  View [dbo].[tsk_all_task_closed_by_month_chart_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create VIEW [dbo].[tsk_all_task_closed_by_month_chart_v]
AS

SELECT   CAST(YEAR(dbo.tsk_tasks.task_completed_date) as varchar(4)) +'-' + CAST(  Month( dbo.tsk_tasks.task_completed_date) as varchar(2)) as month_str, COUNT(*) AS statu_count
FROM         dbo.ref_tsk_task_status RIGHT OUTER JOIN
                      dbo.tsk_tasks ON dbo.ref_tsk_task_status.task_status_id = dbo.tsk_tasks.task_status_id
WHERE     (dbo.tsk_tasks.is_active = 1)
and ((dbo.tsk_tasks.is_deleted IS NULL) OR
                      (dbo.tsk_tasks.is_deleted = 0))
and dbo.tsk_tasks.task_status_id=7                      
GROUP BY CAST(YEAR(dbo.tsk_tasks.task_completed_date) as varchar(4)) +'-' + CAST(  Month( dbo.tsk_tasks.task_completed_date) as varchar(2))


GO
/****** Object:  Table [dbo].[gnl_notifications]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[notification_id] [uniqueidentifier] NOT NULL,
	[notification_type] [int] NULL,
	[notification_module_type] [int] NULL,
	[related_record_id] [uniqueidentifier] NULL,
	[notification_user_id] [uniqueidentifier] NULL,
	[notification_title] [nvarchar](4000) NULL,
	[notification_body] [text] NULL,
	[notification_created_date] [datetime] NULL,
	[notification_shown] [bit] NULL,
	[notification_shown_date] [datetime] NULL,
	[inserted_by] [uniqueidentifier] NULL,
	[inserted_at] [datetime] NULL,
	[updated_by] [uniqueidentifier] NULL,
	[updated_at] [datetime] NULL,
	[deleted_by] [uniqueidentifier] NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK_gnl_notifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  View [dbo].[tsk_expire_end_date_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[tsk_expire_end_date_v]
as
select * from tsk_tasks where task_status_id not in (5,6,7) 
and ((dbo.tsk_tasks.is_deleted IS NULL) OR (dbo.tsk_tasks.is_deleted = 0))
and tsk_tasks.is_active=1 and is_task_sent=1
and end_date<convert(date, getdate())
and not exists (select * from gnl_notifications where notification_type=99 and related_record_id=tsk_tasks.task_id and gnl_notifications.notification_created_date>convert(date, getdate()))


GO
/****** Object:  Table [dbo].[ref_tsk_task_priority]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ref_tsk_task_priority](
	[task_priority_id] [int] NOT NULL,
	[task_priority_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ref_crm_task_priority] PRIMARY KEY CLUSTERED 
(
	[task_priority_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tsk_tasks_history]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tsk_tasks_history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [uniqueidentifier] NOT NULL,
	[related_project_id] [uniqueidentifier] NOT NULL,
	[assigned_user_id] [uniqueidentifier] NOT NULL,
	[task_type_id] [int] NULL,
	[task_status_id] [int] NOT NULL,
	[task_priority_id] [int] NOT NULL,
	[task_name] [nvarchar](2000) NOT NULL,
	[task_description] [nvarchar](4000) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[history_by] [uniqueidentifier] NULL,
	[history_at] [datetime] NULL,
 CONSTRAINT [PK_crm_tasks_history] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[tsk_task_history_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tsk_task_history_v]
AS
SELECT     dbo.tsk_tasks_history.history_id, dbo.tsk_tasks_history.task_id, dbo.tsk_tasks_history.task_name, dbo.ref_tsk_task_status.task_status_name, 
                      gnl_users_1.name + ' ' + gnl_users_1.surname AS assigned_user_name, dbo.gnl_users.name + ' ' + dbo.gnl_users.surname AS updated_user, dbo.ref_tsk_task_priority.task_priority_name, 
                      dbo.tsk_tasks_history.history_at
FROM         dbo.tsk_tasks_history LEFT OUTER JOIN
                      dbo.gnl_users ON dbo.tsk_tasks_history.history_by = dbo.gnl_users.user_id LEFT OUTER JOIN
                      dbo.gnl_users AS gnl_users_1 ON dbo.tsk_tasks_history.assigned_user_id = gnl_users_1.user_id LEFT OUTER JOIN
                      dbo.ref_tsk_task_status ON dbo.tsk_tasks_history.task_status_id = dbo.ref_tsk_task_status.task_status_id LEFT OUTER JOIN
                      dbo.ref_tsk_task_priority ON dbo.tsk_tasks_history.task_priority_id = dbo.ref_tsk_task_priority.task_priority_id


GO
/****** Object:  View [dbo].[tsk_tasks_v]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[tsk_tasks_v]
AS
SELECT     dbo.tsk_tasks.task_id, dbo.tsk_tasks.task_name, dbo.ref_tsk_task_priority.task_priority_name, dbo.ref_tsk_task_status.task_status_name, dbo.crm_projects.project_name, 
                      gnl_users_1.name + ' ' + gnl_users_1.surname AS assigned_user_name, dbo.gnl_users.name + ' ' + dbo.gnl_users.surname AS task_owner, CAST(DATEPART(day, dbo.tsk_tasks.start_date) 
                      AS varchar(2)) + '.' + CAST(DATEPART(month, dbo.tsk_tasks.start_date) AS varchar(2)) + '.' + CAST(DATEPART(year, dbo.tsk_tasks.start_date) AS varchar(4)) AS start_date,dbo.tsk_tasks.start_date as start_date1,dbo.tsk_tasks.end_date as end_date1, CAST(DATEPART(day, 
                      dbo.tsk_tasks.end_date) AS varchar(2)) + '.' + CAST(DATEPART(month, dbo.tsk_tasks.end_date) AS varchar(2)) + '.' + CAST(DATEPART(year, dbo.tsk_tasks.end_date) AS varchar(4)) AS end_date, 
                      CASE WHEN dbo.tsk_tasks.is_active = 1 THEN 'Active' ELSE 'Passive' END AS is_active, dbo.tsk_tasks.task_user_id, dbo.tsk_tasks.assigned_user_id, dbo.tsk_tasks.task_status_id, 
                      dbo.tsk_tasks.is_active AS is_active_bit, dbo.tsk_tasks.order_id
FROM         dbo.crm_projects RIGHT OUTER JOIN
                      dbo.gnl_users RIGHT OUTER JOIN
                      dbo.gnl_users AS gnl_users_1 RIGHT OUTER JOIN
                      dbo.tsk_tasks ON gnl_users_1.user_id = dbo.tsk_tasks.assigned_user_id ON dbo.gnl_users.user_id = dbo.tsk_tasks.task_user_id LEFT OUTER JOIN
                      dbo.ref_tsk_task_status ON dbo.tsk_tasks.task_status_id = dbo.ref_tsk_task_status.task_status_id LEFT OUTER JOIN
                      dbo.ref_tsk_task_priority ON dbo.tsk_tasks.task_priority_id = dbo.ref_tsk_task_priority.task_priority_id ON dbo.crm_projects.project_id = dbo.tsk_tasks.related_project_id
WHERE     (dbo.tsk_tasks.is_deleted IS NULL) OR
                      (dbo.tsk_tasks.is_deleted = 0)





GO
/****** Object:  Table [dbo].[gnl_menu]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_menu](
	[menu_id] [int] NOT NULL,
	[parent_menu_id] [int] NULL,
	[name] [varchar](50) NULL,
	[menu_order] [int] NULL,
	[primary_key] [nvarchar](50) NULL,
	[table_name] [nvarchar](50) NULL,
	[object_name] [nvarchar](100) NULL,
	[show_columns] [nvarchar](1000) NULL,
	[detail_page_url] [nvarchar](250) NULL,
	[detail_update_button] [smallint] NULL,
	[detail_delete_button] [smallint] NULL,
	[list_detail_button] [smallint] NULL,
	[list_new_record_button] [smallint] NULL,
	[show_in_menu] [smallint] NULL,
	[filter] [nvarchar](2000) NULL,
	[report_url] [nvarchar](100) NULL,
	[only_detail_page] [nvarchar](2) NULL,
	[icon_class] [nvarchar](100) NULL,
	[hide_columns] [nvarchar](1000) NULL,
	[order_by] [nvarchar](100) NULL,
 CONSTRAINT [PK_gnl_menu] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[gnl_role_rights]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gnl_role_rights](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[menu_id] [int] NULL,
	[role_id] [uniqueidentifier] NULL,
	[menu_right] [bit] NULL,
	[update_right] [bit] NULL,
	[delete_right] [bit] NULL,
	[report_right] [bit] NULL,
	[new_record_right] [bit] NULL,
 CONSTRAINT [PK_gnl_role_rights] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[gnl_logged_in_users] ON 

INSERT [dbo].[gnl_logged_in_users] ([id], [type], [user_uid], [user_name], [user_name_surname], [date], [session_id], [host_name], [user_host_adres], [browser], [platform], [version]) VALUES (1, N'login', N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', N'', N'Demo Admin', CAST(N'2015-11-29T15:14:55.767' AS DateTime), N'0jok0qwrohnjidor2m4wk04r', N'::1', N'::1', N'Chrome', N'WinNT', N'46.0')
INSERT [dbo].[gnl_logged_in_users] ([id], [type], [user_uid], [user_name], [user_name_surname], [date], [session_id], [host_name], [user_host_adres], [browser], [platform], [version]) VALUES (2, N'login', N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', N'', N'Demo Admin', CAST(N'2015-11-29T15:18:18.413' AS DateTime), N'0jok0qwrohnjidor2m4wk04r', N'::1', N'::1', N'Chrome', N'WinNT', N'46.0')
INSERT [dbo].[gnl_logged_in_users] ([id], [type], [user_uid], [user_name], [user_name_surname], [date], [session_id], [host_name], [user_host_adres], [browser], [platform], [version]) VALUES (3, N'logout', N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', N'', N'Demo Admin', CAST(N'2015-11-29T15:35:07.650' AS DateTime), N'0jok0qwrohnjidor2m4wk04r', N'::1', N'::1', N'Chrome', N'WinNT', N'46.0')
GO
SET IDENTITY_INSERT [dbo].[gnl_logged_in_users] OFF
INSERT [dbo].[gnl_menu] ([menu_id], [parent_menu_id], [name], [menu_order], [primary_key], [table_name], [object_name], [show_columns], [detail_page_url], [detail_update_button], [detail_delete_button], [list_detail_button], [list_new_record_button], [show_in_menu], [filter], [report_url], [only_detail_page], [icon_class], [hide_columns], [order_by]) VALUES (1, 0, N'Settings', 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'fa-cogs', NULL, NULL)
INSERT [dbo].[gnl_menu] ([menu_id], [parent_menu_id], [name], [menu_order], [primary_key], [table_name], [object_name], [show_columns], [detail_page_url], [detail_update_button], [detail_delete_button], [list_detail_button], [list_new_record_button], [show_in_menu], [filter], [report_url], [only_detail_page], [icon_class], [hide_columns], [order_by]) VALUES (20, 1, N'Roles', 0, N'role_id', N'gnl_roles', N'gnl_roles_v', N'role_name,role_explanation ,is_active', N'~/Users/Role', NULL, NULL, NULL, NULL, 1, NULL, NULL, NULL, N'', N'role_id', N'role_name asc')
SET IDENTITY_INSERT [dbo].[gnl_notifications] ON 

GO
SET IDENTITY_INSERT [dbo].[gnl_notifications] OFF
SET IDENTITY_INSERT [dbo].[gnl_role_rights] ON 

INSERT [dbo].[gnl_role_rights] ([id], [menu_id], [role_id], [menu_right], [update_right], [delete_right], [report_right], [new_record_right]) VALUES (1, 1, N'ea5bbda5-3996-4a11-9aa1-e88092935658', 0, 0, 0, 0, 0)
INSERT [dbo].[gnl_role_rights] ([id], [menu_id], [role_id], [menu_right], [update_right], [delete_right], [report_right], [new_record_right]) VALUES (2, 10, N'ea5bbda5-3996-4a11-9aa1-e88092935658', 0, 0, 0, 0, 0)
INSERT [dbo].[gnl_role_rights] ([id], [menu_id], [role_id], [menu_right], [update_right], [delete_right], [report_right], [new_record_right]) VALUES (3, 20, N'ea5bbda5-3996-4a11-9aa1-e88092935658', 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[gnl_role_rights] OFF
INSERT [dbo].[gnl_roles] ([role_id], [role_name], [role_explanation], [is_active], [inserted_by], [inserted_at], [updated_by], [updated_at], [is_deleted], [deleted_by], [deleted_at]) VALUES (N'cccefd02-1bc0-4cd7-9801-1d7490e3902a', N'Manager', N'Manager', 1, N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', CAST(N'2015-07-17T09:57:02.000' AS DateTime), N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', CAST(N'2015-07-28T18:10:00.000' AS DateTime), 0, NULL, NULL)
INSERT [dbo].[gnl_roles] ([role_id], [role_name], [role_explanation], [is_active], [inserted_by], [inserted_at], [updated_by], [updated_at], [is_deleted], [deleted_by], [deleted_at]) VALUES (N'c8055424-aa89-492a-b555-58be9f2ead3b', N'Administrator', N'Administrator', 1, N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', CAST(N'2015-07-17T20:20:56.447' AS DateTime), N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', CAST(N'2015-07-26T18:24:08.873' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[gnl_roles] ([role_id], [role_name], [role_explanation], [is_active], [inserted_by], [inserted_at], [updated_by], [updated_at], [is_deleted], [deleted_by], [deleted_at]) VALUES (N'ea5bbda5-3996-4a11-9aa1-e88092935658', N'Task User', N'Task User', 1, N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', CAST(N'2015-08-08T12:02:06.000' AS DateTime), N'c94b864c-85a3-46d2-8ae3-1608e0782d1a', CAST(N'2015-11-22T19:36:16.000' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[gnl_roles_related_users] ON 

INSERT [dbo].[gnl_roles_related_users] ([id], [role_id], [user_id]) VALUES (1, N'c8055424-aa89-492a-b555-58be9f2ead3b', N'c94b864c-85a3-46d2-8ae3-1608e0782d1a')
INSERT [dbo].[gnl_roles_related_users] ([id], [role_id], [user_id]) VALUES (2, N'ea5bbda5-3996-4a11-9aa1-e88092935658', N'e14dca64-780d-4b16-982e-0e6b82269dc7')
INSERT [dbo].[gnl_roles_related_users] ([id], [role_id], [user_id]) VALUES (3, N'cccefd02-1bc0-4cd7-9801-1d7490e3902a', N'59093db6-3a14-410d-b055-b061ada6ee97')
SET IDENTITY_INSERT [dbo].[gnl_roles_related_users] OFF
INSERT [dbo].[ref_crm_project_types] ([project_type_id], [project_type_name]) VALUES (1, N'Individual')
INSERT [dbo].[ref_crm_project_types] ([project_type_id], [project_type_name]) VALUES (2, N'Company')
INSERT [dbo].[ref_tsk_task_priority] ([task_priority_id], [task_priority_name]) VALUES (1, N'Low')
INSERT [dbo].[ref_tsk_task_priority] ([task_priority_id], [task_priority_name]) VALUES (2, N'Normal')
INSERT [dbo].[ref_tsk_task_priority] ([task_priority_id], [task_priority_name]) VALUES (3, N'High')
INSERT [dbo].[ref_tsk_task_status] ([task_status_id], [task_status_name]) VALUES (1, N'Waiting')
INSERT [dbo].[ref_tsk_task_status] ([task_status_id], [task_status_name]) VALUES (2, N'Sent')
INSERT [dbo].[ref_tsk_task_status] ([task_status_id], [task_status_name]) VALUES (3, N'Accepted')
SET IDENTITY_INSERT [dbo].[tsk_tasks] ON 

SET IDENTITY_INSERT [dbo].[tsk_tasks] OFF
SET IDENTITY_INSERT [dbo].[tsk_tasks_history] ON 

INSERT [dbo].[tsk_tasks_history] ([history_id], [task_id], [related_project_id], [assigned_user_id], [task_type_id], [task_status_id], [task_priority_id], [task_name], [task_description], [start_date], [end_date], [history_by], [history_at]) VALUES (1, N'a15e80a2-0114-43f1-ac2d-7dfe18a99953', N'cc5d03ba-bb30-4e51-9366-c5db98e21570', N'e14dca64-780d-4b16-982e-0e6b82269dc7', NULL, 1, 3, N'Task 1', N'Task 1', CAST(N'2015-11-03T00:00:00.000' AS DateTime), CAST(N'2015-11-13T00:00:00.000' AS DateTime), N'59093db6-3a14-410d-b055-b061ada6ee97', CAST(N'2015-11-29T15:41:57.117' AS DateTime))
INSERT [dbo].[tsk_tasks_history] ([history_id], [task_id], [related_project_id], [assigned_user_id], [task_type_id], [task_status_id], [task_priority_id], [task_name], [task_description], [start_date], [end_date], [history_by], [history_at]) VALUES (2, N'15ad59ef-f56c-40c5-ada1-ea402d7b1aeb', N'cc5d03ba-bb30-4e51-9366-c5db98e21570', N'e14dca64-780d-4b16-982e-0e6b82269dc7', NULL, 1, 2, N'Task 2', N'Task 1', CAST(N'2015-11-02T00:00:00.000' AS DateTime), CAST(N'2015-11-20T00:00:00.000' AS DateTime), N'59093db6-3a14-410d-b055-b061ada6ee97', CAST(N'2015-11-29T15:43:04.767' AS DateTime))
INSERT [dbo].[tsk_tasks_history] ([history_id], [task_id], [related_project_id], [assigned_user_id], [task_type_id], [task_status_id], [task_priority_id], [task_name], [task_description], [start_date], [end_date], [history_by], [history_at]) VALUES (3, N'15ad59ef-f56c-40c5-ada1-ea402d7b1aeb', N'cc5d03ba-bb30-4e51-9366-c5db98e21570', N'e14dca64-780d-4b16-982e-0e6b82269dc7', NULL, 2, 2, N'Task 2', N'Task 1', CAST(N'2015-11-02T00:00:00.000' AS DateTime), CAST(N'2015-11-20T00:00:00.000' AS DateTime), N'59093db6-3a14-410d-b055-b061ada6ee97', CAST(N'2015-11-29T15:43:09.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[tsk_tasks_history] OFF
/****** Object:  StoredProcedure [dbo].[gnl_all_user_authorization_by_role_select_sp]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[gnl_all_user_authorization_by_role_select_sp]
(
	@role_id uniqueidentifier
)
as


select menu_id,menu_right,update_right,delete_right,report_right,new_record_right from gnl_role_rights where role_id =@role_id




GO
/****** Object:  StoredProcedure [dbo].[gnl_all_user_authorization_select_sp]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[gnl_all_user_authorization_select_sp]
(
	@user_id uniqueidentifier
)
as


select menu_id,menu_right,update_right,delete_right,report_right,new_record_right from gnl_role_rights where role_id In (Select gnl_roles_related_users.role_id from gnl_roles_related_users,gnl_roles Where user_id = @user_id and gnl_roles_related_users.role_id=gnl_roles.role_id and gnl_roles.is_active=1)



GO
/****** Object:  StoredProcedure [dbo].[gnl_user_authorization_child_menu_rights_select_sp]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[gnl_user_authorization_child_menu_rights_select_sp]
(
	@user_id uniqueidentifier,
	@parent_menu_id int
)
as


select * from gnl_menu where menu_id in ( select menu_id from gnl_role_rights where role_id In (Select gnl_roles_related_users.role_id from gnl_roles_related_users,gnl_roles Where user_id = @user_id  and gnl_roles_related_users.role_id=gnl_roles.role_id and gnl_roles.is_active=1)
and menu_right=1 )
and parent_menu_id = @parent_menu_id



GO
/****** Object:  StoredProcedure [dbo].[SP_GENERATE_INSERT_UPDATE_SCRIPTS]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GENERATE_INSERT_UPDATE_SCRIPTS] 
@objname nvarchar(776)
as

DECLARE @objid as int
	DECLARE @sysobj_type  as char(2)
    SELECT @objid = id, @sysobj_type = xtype from sysobjects where id = object_id(@objname)
DECLARE @colname as sysname
 SELECT @colname = name from syscolumns where id = @objid and colstat & 1 = 1
-- DISPLAY COLUMN IF TABLE / VIEW
if @sysobj_type in ('S ','U ','V ','TF','IF')
begin
-- SET UP NUMERIC TYPES: THESE WILL HAVE NON-BLANK PREC/SCALE
DECLARE @numtypes as  nvarchar(80);
DECLARE @avoidlength  as nvarchar(80);
SELECT  @numtypes = N'decimalreal,money,float,numeric,smallmoney'
SELECT  @avoidlength = N'int,smallint,float,datatime,smalldatetime,text,bit'
-- INFO FOR EACH COLUMN
CREATE TABLE #MyProc (pkey INT NOT NULL IDENTITY (1, 1),ID INT ,MyStatement NVARCHAR(4000))
INSERT INTO  #MyProc (ID, MyStatement)SELECT 1, 'CREATE PROCEDURE InsUpd_' + @objname + ' ' 
INSERT INTO  #MyProc (ID, MyStatement)SELECT 2, '@' + name + ' ' + type_name(xusertype) + ' ' + case when charindex(type_name(xtype),@avoidlength) > 0 then ''
        else case when charindex(type_name(xtype), @numtypes) <= 0 then '(' + convert(varchar(10), length) + ')' else '(' + case when charindex(type_name(xtype), @numtypes) > 0
        then convert(varchar(5),ColumnProperty(id, name, 'precision'))
        else '' end + case when charindex(type_name(xtype), @numtypes) > 0 then ',' else ' ' end + case when charindex(type_name(xtype), @numtypes) > 0
        then convert(varchar(5),OdbcScale(xtype,xscale))  else '' end + ')' end end + ', 'from syscolumns where id = @objid and number = 0 order by colid
    update #MyProc set MyStatement = Replace(MyStatement,', ',' ') where  pkey = (SELECT max(pkey) from #MyProc)
    INSERT INTO #MyProc (ID, MyStatement) SELECT 3, 'AS  BEGIN IF @' + @colname + ' <= 0  BEGIN'
    INSERT INTO #MyProc (ID, MyStatement)SELECT 3, 'INSERT INTO dbo.' + @objname + ' ('
    INSERT INTO #MyProc (ID, MyStatement)SELECT 4, '' + name + ','from syscolumns where id = @objid and number = 0 order by colid
    DELETE FROM #MyProc WHERE ID = 4 and MyStatement like '%' + @colname + '%'
        update #MyProc set MyStatement = Replace(MyStatement,',','') where pkey = (SELECT max(pkey) from #MyProc)
    INSERT INTO #MyProc (ID, MyStatement)  SELECT 5, ')'
       INSERT INTO #MyProc (ID, MyStatement) SELECT 6, 'VALUES ('
    INSERT INTO #MyProc (ID, MyStatement)SELECT 7, '@' + name + ','from syscolumns where id = @objid and number = 0 order by colid
    DELETE FROM #MyProc WHERE ID = 7 and MyStatement like '%' + @colname + '%' 
        update #MyProc set MyStatement = Replace(MyStatement,'@DateCreated,','GETDATE(),') where ID = 7 AND MyStatement like '%@DateCreated,'
		update #MyProc set MyStatement = Replace(MyStatement,'@DateModified,','GETDATE(),') where ID = 7 AND MyStatement like '%@DateModified,'
		update #MyProc set MyStatement = Replace(MyStatement,',','') where pkey = (SELECT max(pkey) from #MyProc)
    INSERT INTO #MyProc (ID, MyStatement)SELECT 8, ')SET @' + @colname + ' = @@IDENTITY SELECT @' + @colname + ' AS ' + @colname + 'END ELSE BEGIN'
    INSERT INTO #MyProc (ID, MyStatement) SELECT 9, ' '
    INSERT INTO #MyProc (ID, MyStatement) SELECT 10, 'UPDATE dbo.' + @objname + ' SET '
    INSERT INTO #MyProc (ID, MyStatement) SELECT 11, '' + name + ' = @' + name + ',' from syscolumns where id = @objid and number = 0 order by colid
    DELETE FROM #MyProc  WHERE ID = 11 and MyStatement like '%' + @colname + '%'
    DELETE FROM #MyProc  WHERE ID = 11 and MyStatement like '%DateCreated %'
     update #MyProc set MyStatement = Replace(MyStatement,'@DateModified,','GETDATE(),') where  ID = 11 AND MyStatement like '%@DateModified,'
    update #MyProc set MyStatement = Replace(MyStatement,',','') where  pkey = (SELECT max(pkey) from #MyProc)
    INSERT INTO #MyProc (ID, MyStatement) SELECT 12, ' WHERE ' + @colname + ' = @' + @colname + ' SELECT @' + @colname + ' AS ' + @colname + 'END END'
        SELECT MyStatement from #MyProc ORDER BY [ID] 
	End






GO
/****** Object:  StoredProcedure [dbo].[SP_GENERATE_INSERTS]    Script Date: 28.11.2017 20:19:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_GENERATE_INSERTS]
(
	@table_name varchar(776),  		-- The table/view for which the INSERT statements will be generated using the existing data
	@target_table varchar(776) = NULL, 	-- Use this parameter to specify a different table name into which the data will be inserted
	@include_column_list bit = 1,		-- Use this parameter to include/ommit column list in the generated INSERT statement
	@from varchar(800) = NULL, 		-- Use this parameter to filter the rows based on a filter condition (using WHERE)
	@include_timestamp bit = 0, 		-- Specify 1 for this parameter, if you want to include the TIMESTAMP/ROWVERSION column's data in the INSERT statement
	@debug_mode bit = 0,			-- If @debug_mode is set to 1, the SQL statements constructed by this procedure will be printed for later examination
	@owner varchar(64) = NULL,		-- Use this parameter if you are not the owner of the table
	@ommit_images bit = 0,			-- Use this parameter to generate INSERT statements by omitting the 'image' columns
	@ommit_identity bit = 0,		-- Use this parameter to ommit the identity columns
	@top int = NULL,			-- Use this parameter to generate INSERT statements only for the TOP n rows
	@cols_to_include varchar(8000) = NULL,	-- List of columns to be included in the INSERT statement
	@cols_to_exclude varchar(8000) = NULL,	-- List of columns to be excluded from the INSERT statement
	@disable_constraints bit = 0,		-- When 1, disables foreign key constraints and enables them after the INSERT statements
	@ommit_computed_cols bit = 0		-- When 1, computed columns will not be included in the INSERT statement
	
)
AS
BEGIN

/***********************************************************************************************************
Procedure:	sp_generate_inserts  (Build 22) 
		(Copyright © 2002 Narayana Vyas Kondreddi. All rights reserved.)
                                          
Purpose:	To generate INSERT statements from existing data. 
		These INSERTS can be executed to regenerate the data at some other location.
		This procedure is also useful to create a database setup, where in you can 
		script your data along with your table definitions.

Written by:	Narayana Vyas Kondreddi
	        http://vyaskn.tripod.com

Acknowledgements:
		Divya Kalra	-- For beta testing
		Mark Charsley	-- For reporting a problem with scripting uniqueidentifier columns with NULL values
		Artur Zeygman	-- For helping me simplify a bit of code for handling non-dbo owned tables
		Joris Laperre   -- For reporting a regression bug in handling text/ntext columns

Tested on: 	SQL Server 7.0 and SQL Server 2000

Date created:	January 17th 2001 21:52 GMT

Date modified:	May 1st 2002 19:50 GMT

Email: 		vyaskn@hotmail.com

NOTE:		This procedure may not work with tables with too many columns.
		Results can be unpredictable with huge text columns or SQL Server 2000's sql_variant data types
		Whenever possible, Use @include_column_list parameter to ommit column list in the INSERT statement, for better results
		IMPORTANT: This procedure is not tested with internation data (Extended characters or Unicode). If needed
		you might want to convert the datatypes of character variables in this procedure to their respective unicode counterparts
		like nchar and nvarchar
		

Example 1:	To generate INSERT statements for table 'titles':
		
		EXEC sp_generate_inserts 'titles'

Example 2: 	To ommit the column list in the INSERT statement: (Column list is included by default)
		IMPORTANT: If you have too many columns, you are advised to ommit column list, as shown below,
		to avoid erroneous results
		
		EXEC sp_generate_inserts 'titles', @include_column_list = 0

Example 3:	To generate INSERT statements for 'titlesCopy' table from 'titles' table:

		EXEC sp_generate_inserts 'titles', 'titlesCopy'

Example 4:	To generate INSERT statements for 'titles' table for only those titles 
		which contain the word 'Computer' in them:
		NOTE: Do not complicate the FROM or WHERE clause here. It's assumed that you are good with T-SQL if you are using this parameter

		EXEC sp_generate_inserts 'titles', @from = "from titles where title like '%Computer%'"

Example 5: 	To specify that you want to include TIMESTAMP column's data as well in the INSERT statement:
		(By default TIMESTAMP column's data is not scripted)

		EXEC sp_generate_inserts 'titles', @include_timestamp = 1

Example 6:	To print the debug information:
  
		EXEC sp_generate_inserts 'titles', @debug_mode = 1

Example 7: 	If you are not the owner of the table, use @owner parameter to specify the owner name
		To use this option, you must have SELECT permissions on that table

		EXEC sp_generate_inserts Nickstable, @owner = 'Nick'

Example 8: 	To generate INSERT statements for the rest of the columns excluding images
		When using this otion, DO NOT set @include_column_list parameter to 0.

		EXEC sp_generate_inserts imgtable, @ommit_images = 1

Example 9: 	To generate INSERT statements excluding (ommiting) IDENTITY columns:
		(By default IDENTITY columns are included in the INSERT statement)

		EXEC sp_generate_inserts mytable, @ommit_identity = 1

Example 10: 	To generate INSERT statements for the TOP 10 rows in the table:
		
		EXEC sp_generate_inserts mytable, @top = 10

Example 11: 	To generate INSERT statements with only those columns you want:
		
		EXEC sp_generate_inserts titles, @cols_to_include = "'title','title_id','au_id'"

Example 12: 	To generate INSERT statements by omitting certain columns:
		
		EXEC sp_generate_inserts titles, @cols_to_exclude = "'title','title_id','au_id'"

Example 13:	To avoid checking the foreign key constraints while loading data with INSERT statements:
		
		EXEC sp_generate_inserts titles, @disable_constraints = 1

Example 14: 	To exclude computed columns from the INSERT statement:
		EXEC sp_generate_inserts MyTable, @ommit_computed_cols = 1
***********************************************************************************************************/

SET NOCOUNT ON

--Making sure user only uses either @cols_to_include or @cols_to_exclude
IF ((@cols_to_include IS NOT NULL) AND (@cols_to_exclude IS NOT NULL))
	BEGIN
		RAISERROR('Use either @cols_to_include or @cols_to_exclude. Do not use both the parameters at once',16,1)
		RETURN -1 --Failure. Reason: Both @cols_to_include and @cols_to_exclude parameters are specified
	END

--Making sure the @cols_to_include and @cols_to_exclude parameters are receiving values in proper format
IF ((@cols_to_include IS NOT NULL) AND (PATINDEX('''%''',@cols_to_include) = 0))
	BEGIN
		RAISERROR('Invalid use of @cols_to_include property',16,1)
		PRINT 'Specify column names surrounded by single quotes and separated by commas'
		PRINT 'Eg: EXEC sp_generate_inserts titles, @cols_to_include = "''title_id'',''title''"'
		RETURN -1 --Failure. Reason: Invalid use of @cols_to_include property
	END

IF ((@cols_to_exclude IS NOT NULL) AND (PATINDEX('''%''',@cols_to_exclude) = 0))
	BEGIN
		RAISERROR('Invalid use of @cols_to_exclude property',16,1)
		PRINT 'Specify column names surrounded by single quotes and separated by commas'
		PRINT 'Eg: EXEC sp_generate_inserts titles, @cols_to_exclude = "''title_id'',''title''"'
		RETURN -1 --Failure. Reason: Invalid use of @cols_to_exclude property
	END


--Checking to see if the database name is specified along wih the table name
--Your database context should be local to the table for which you want to generate INSERT statements
--specifying the database name is not allowed
IF (PARSENAME(@table_name,3)) IS NOT NULL
	BEGIN
		RAISERROR('Do not specify the database name. Be in the required database and just specify the table name.',16,1)
		RETURN -1 --Failure. Reason: Database name is specified along with the table name, which is not allowed
	END

--Checking for the existence of 'user table' or 'view'
--This procedure is not written to work on system tables
--To script the data in system tables, just create a view on the system tables and script the view instead

IF @owner IS NULL
	BEGIN
		IF ((OBJECT_ID(@table_name,'U') IS NULL) AND (OBJECT_ID(@table_name,'V') IS NULL)) 
			BEGIN
				RAISERROR('User table or view not found.',16,1)
				PRINT 'You may see this error, if you are not the owner of this table or view. In that case use @owner parameter to specify the owner name.'
				PRINT 'Make sure you have SELECT permission on that table or view.'
				RETURN -1 --Failure. Reason: There is no user table or view with this name
			END
	END
ELSE
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = @table_name AND (TABLE_TYPE = 'BASE TABLE' OR TABLE_TYPE = 'VIEW') AND TABLE_SCHEMA = @owner)
			BEGIN
				RAISERROR('User table or view not found.',16,1)
				PRINT 'You may see this error, if you are not the owner of this table. In that case use @owner parameter to specify the owner name.'
				PRINT 'Make sure you have SELECT permission on that table or view.'
				RETURN -1 --Failure. Reason: There is no user table or view with this name		
			END
	END

--Variable declarations
DECLARE		@Column_ID int, 		
		@Column_List varchar(8000), 
		@Column_Name varchar(128), 
		@Start_Insert varchar(786), 
		@Data_Type varchar(128), 
		@Actual_Values varchar(8000),	--This is the string that will be finally executed to generate INSERT statements
		@IDN varchar(128)		--Will contain the IDENTITY column's name in the table

--Variable Initialization
SET @IDN = ''
SET @Column_ID = 0
SET @Column_Name = ''
SET @Column_List = ''
SET @Actual_Values = ''

IF @owner IS NULL 
	BEGIN
		SET @Start_Insert = 'INSERT INTO ' + '[' + RTRIM(COALESCE(@target_table,@table_name)) + ']' 
	END
ELSE
	BEGIN
		SET @Start_Insert = 'INSERT ' + '[' + LTRIM(RTRIM(@owner)) + '].' + '[' + RTRIM(COALESCE(@target_table,@table_name)) + ']' 		
	END


--To get the first column's ID

SELECT	@Column_ID = MIN(ORDINAL_POSITION) 	
FROM	INFORMATION_SCHEMA.COLUMNS (NOLOCK) 
WHERE 	TABLE_NAME = @table_name AND
(@owner IS NULL OR TABLE_SCHEMA = @owner)



--Loop through all the columns of the table, to get the column names and their data types
WHILE @Column_ID IS NOT NULL
	BEGIN
		SELECT 	@Column_Name = QUOTENAME(COLUMN_NAME), 
		@Data_Type = DATA_TYPE 
		FROM 	INFORMATION_SCHEMA.COLUMNS (NOLOCK) 
		WHERE 	ORDINAL_POSITION = @Column_ID AND 
		TABLE_NAME = @table_name AND
		(@owner IS NULL OR TABLE_SCHEMA = @owner)



		IF @cols_to_include IS NOT NULL --Selecting only user specified columns
		BEGIN
			IF CHARINDEX( '''' + SUBSTRING(@Column_Name,2,LEN(@Column_Name)-2) + '''',@cols_to_include) = 0 
			BEGIN
				GOTO SKIP_LOOP
			END
		END

		IF @cols_to_exclude IS NOT NULL --Selecting only user specified columns
		BEGIN
			IF CHARINDEX( '''' + SUBSTRING(@Column_Name,2,LEN(@Column_Name)-2) + '''',@cols_to_exclude) <> 0 
			BEGIN
				GOTO SKIP_LOOP
			END
		END

		--Making sure to output SET IDENTITY_INSERT ON/OFF in case the table has an IDENTITY column
		IF (SELECT COLUMNPROPERTY( OBJECT_ID(QUOTENAME(COALESCE(@owner,USER_NAME())) + '.' + @table_name),SUBSTRING(@Column_Name,2,LEN(@Column_Name) - 2),'IsIdentity')) = 1 
		BEGIN
			IF @ommit_identity = 0 --Determing whether to include or exclude the IDENTITY column
				SET @IDN = @Column_Name
			ELSE
				GOTO SKIP_LOOP			
		END
		
		--Making sure whether to output computed columns or not
		IF @ommit_computed_cols = 1
		BEGIN
			IF (SELECT COLUMNPROPERTY( OBJECT_ID(QUOTENAME(COALESCE(@owner,USER_NAME())) + '.' + @table_name),SUBSTRING(@Column_Name,2,LEN(@Column_Name) - 2),'IsComputed')) = 1 
			BEGIN
				GOTO SKIP_LOOP					
			END
		END
		
		--Tables with columns of IMAGE data type are not supported for obvious reasons
		IF(@Data_Type in ('image'))
			BEGIN
				IF (@ommit_images = 0)
					BEGIN
						RAISERROR('Tables with image columns are not supported.',16,1)
						PRINT 'Use @ommit_images = 1 parameter to generate INSERTs for the rest of the columns.'
						PRINT 'DO NOT ommit Column List in the INSERT statements. If you ommit column list using @include_column_list=0, the generated INSERTs will fail.'
						RETURN -1 --Failure. Reason: There is a column with image data type
					END
				ELSE
					BEGIN
					GOTO SKIP_LOOP
					END
			END

		--Determining the data type of the column and depending on the data type, the VALUES part of
		--the INSERT statement is generated. Care is taken to handle columns with NULL values. Also
		--making sure, not to lose any data from flot, real, money, smallmomey, datetime columns
		SET @Actual_Values = @Actual_Values  +
		CASE 
			WHEN @Data_Type IN ('char','varchar','nchar','nvarchar') 
				THEN 
					'COALESCE('''''''' + REPLACE(RTRIM(' + @Column_Name + '),'''''''','''''''''''')+'''''''',''NULL'')'
			WHEN @Data_Type IN ('datetime','smalldatetime') 
				THEN 
					'COALESCE('''''''' + RTRIM(CONVERT(char,' + @Column_Name + ',109))+'''''''',''NULL'')'
			WHEN @Data_Type IN ('uniqueidentifier') 
				THEN  
					'COALESCE('''''''' + REPLACE(CONVERT(char(255),RTRIM(' + @Column_Name + ')),'''''''','''''''''''')+'''''''',''NULL'')'
			WHEN @Data_Type IN ('text','ntext') 
				THEN  
					'COALESCE('''''''' + REPLACE(CONVERT(char(8000),' + @Column_Name + '),'''''''','''''''''''')+'''''''',''NULL'')'					
			WHEN @Data_Type IN ('binary','varbinary') 
				THEN  
					'COALESCE(RTRIM(CONVERT(char,' + 'CONVERT(int,' + @Column_Name + '))),''NULL'')'  
			WHEN @Data_Type IN ('timestamp','rowversion') 
				THEN  
					CASE 
						WHEN @include_timestamp = 0 
							THEN 
								'''DEFAULT''' 
							ELSE 
								'COALESCE(RTRIM(CONVERT(char,' + 'CONVERT(int,' + @Column_Name + '))),''NULL'')'  
					END
			WHEN @Data_Type IN ('float','real','money','smallmoney')
				THEN
					'COALESCE(LTRIM(RTRIM(' + 'CONVERT(char, ' +  @Column_Name  + ',2)' + ')),''NULL'')' 
			ELSE 
				'COALESCE(LTRIM(RTRIM(' + 'CONVERT(char, ' +  @Column_Name  + ')' + ')),''NULL'')' 
		END   + '+' +  ''',''' + ' + '
		
		--Generating the column list for the INSERT statement
		SET @Column_List = @Column_List +  @Column_Name + ','	

		SKIP_LOOP: --The label used in GOTO

		SELECT 	@Column_ID = MIN(ORDINAL_POSITION) 
		FROM 	INFORMATION_SCHEMA.COLUMNS (NOLOCK) 
		WHERE 	TABLE_NAME = @table_name AND 
		ORDINAL_POSITION > @Column_ID AND
		(@owner IS NULL OR TABLE_SCHEMA = @owner)


	--Loop ends here!
	END

--To get rid of the extra characters that got concatenated during the last run through the loop
SET @Column_List = LEFT(@Column_List,len(@Column_List) - 1)
SET @Actual_Values = LEFT(@Actual_Values,len(@Actual_Values) - 6)

IF LTRIM(@Column_List) = '' 
	BEGIN
		RAISERROR('No columns to select. There should at least be one column to generate the output',16,1)
		RETURN -1 --Failure. Reason: Looks like all the columns are ommitted using the @cols_to_exclude parameter
	END

--Forming the final string that will be executed, to output the INSERT statements
IF (@include_column_list <> 0)
	BEGIN
		SET @Actual_Values = 
			'SELECT ' +  
			CASE WHEN @top IS NULL OR @top < 0 THEN '' ELSE ' TOP ' + LTRIM(STR(@top)) + ' ' END + 
			'''' + RTRIM(@Start_Insert) + 
			' ''+' + '''(' + RTRIM(@Column_List) +  '''+' + ''')''' + 
			' +''VALUES(''+ ' +  @Actual_Values  + '+'')''' + ' ' + 
			COALESCE(@from,' FROM ' + CASE WHEN @owner IS NULL THEN '' ELSE '[' + LTRIM(RTRIM(@owner)) + '].' END + '[' + rtrim(@table_name) + ']' + '(NOLOCK)')
	END
ELSE IF (@include_column_list = 0)
	BEGIN
		SET @Actual_Values = 
			'SELECT ' + 
			CASE WHEN @top IS NULL OR @top < 0 THEN '' ELSE ' TOP ' + LTRIM(STR(@top)) + ' ' END + 
			'''' + RTRIM(@Start_Insert) + 
			' '' +''VALUES(''+ ' +  @Actual_Values + '+'')''' + ' ' + 
			COALESCE(@from,' FROM ' + CASE WHEN @owner IS NULL THEN '' ELSE '[' + LTRIM(RTRIM(@owner)) + '].' END + '[' + rtrim(@table_name) + ']' + '(NOLOCK)')
	END	

--Determining whether to ouput any debug information
IF @debug_mode =1
	BEGIN
		PRINT '/*****START OF DEBUG INFORMATION*****'
		PRINT 'Beginning of the INSERT statement:'
		PRINT @Start_Insert
		PRINT ''
		PRINT 'The column list:'
		PRINT @Column_List
		PRINT ''
		PRINT 'The SELECT statement executed to generate the INSERTs'
		PRINT @Actual_Values
		PRINT ''
		PRINT '*****END OF DEBUG INFORMATION*****/'
		PRINT ''
	END
		
PRINT '--INSERTs generated by ''sp_generate_inserts'' stored procedure written by Vyas'
PRINT '--Build number: 22'
PRINT '--Problems/Suggestions? Contact Vyas @ vyaskn@hotmail.com'
PRINT '--http://vyaskn.tripod.com'
PRINT ''
PRINT 'SET NOCOUNT ON'
PRINT ''


--Determining whether to print IDENTITY_INSERT or not
IF (@IDN <> '')
	BEGIN
		PRINT 'SET IDENTITY_INSERT ' + QUOTENAME(COALESCE(@owner,USER_NAME())) + '.' + QUOTENAME(@table_name) + ' ON'
		PRINT 'GO'
		PRINT ''
	END


IF @disable_constraints = 1 AND (OBJECT_ID(QUOTENAME(COALESCE(@owner,USER_NAME())) + '.' + @table_name, 'U') IS NOT NULL)
	BEGIN
		IF @owner IS NULL
			BEGIN
				SELECT 	'ALTER TABLE ' + QUOTENAME(COALESCE(@target_table, @table_name)) + ' NOCHECK CONSTRAINT ALL' AS '--Code to disable constraints temporarily'
			END
		ELSE
			BEGIN
				SELECT 	'ALTER TABLE ' + QUOTENAME(@owner) + '.' + QUOTENAME(COALESCE(@target_table, @table_name)) + ' NOCHECK CONSTRAINT ALL' AS '--Code to disable constraints temporarily'
			END

		PRINT 'GO'
	END

PRINT ''
PRINT 'PRINT ''Inserting values into ' + '[' + RTRIM(COALESCE(@target_table,@table_name)) + ']' + ''''


--All the hard work pays off here!!! You'll get your INSERT statements, when the next line executes!
EXEC (@Actual_Values)

PRINT 'PRINT ''Done'''
PRINT ''


IF @disable_constraints = 1 AND (OBJECT_ID(QUOTENAME(COALESCE(@owner,USER_NAME())) + '.' + @table_name, 'U') IS NOT NULL)
	BEGIN
		IF @owner IS NULL
			BEGIN
				SELECT 	'ALTER TABLE ' + QUOTENAME(COALESCE(@target_table, @table_name)) + ' CHECK CONSTRAINT ALL'  AS '--Code to enable the previously disabled constraints'
			END
		ELSE
			BEGIN
				SELECT 	'ALTER TABLE ' + QUOTENAME(@owner) + '.' + QUOTENAME(COALESCE(@target_table, @table_name)) + ' CHECK CONSTRAINT ALL' AS '--Code to enable the previously disabled constraints'
			END

		PRINT 'GO'
	END

PRINT ''
IF (@IDN <> '')
	BEGIN
		PRINT 'SET IDENTITY_INSERT ' + QUOTENAME(COALESCE(@owner,USER_NAME())) + '.' + QUOTENAME(@table_name) + ' OFF'
		PRINT 'GO'
	END

PRINT 'SET NOCOUNT OFF'


SET NOCOUNT OFF
RETURN 0 --Success. We are done!
END





GO
DELETE FROM gnl_logged_in_users
GO